upstream api2 {
        server 127.0.0.1:8090;
}
server {
        listen 80;
        listen [::]:80;

        server_name subdomain.{{ nginx_server_name }};

        access_log  /var/log/nginx/subdomain.{{ nginx_server_name }}.access.log;
        error_log  /var/log/nginx/subdomain.{{ nginx_server_name }}.error.log;

        location / {
                proxy_set_header Host $http_host;
                proxy_pass http://api2/;
                proxy_redirect off;
        }
}
