upstream api {
        server 127.0.0.1:8080;
}

server {
        listen 80;
        listen [::]:80;

        server_name {{ nginx_server_name }};

        access_log  /var/log/nginx/{{ nginx_server_name }}.access.log;
        error_log  /var/log/nginx/{{ nginx_server_name }}.error.log;

        location ^~ /api {
                proxy_set_header Host $http_host;
                rewrite ^/api/?(.*) /$1 break;
                proxy_pass http://api/;
                proxy_redirect off;
        }

        location / {
                root   {{ nginx_remote_path }};
                index  index.html;

                try_files $uri$args $uri$args/ /index.html;
        }
}
